:root {
  color-scheme: dark;

  --background: #060e14;
  --foreground: #f3f5f7;

  --card: #0f181f;
  --card-foreground: #f3f5f7;

  --popover: #0f181f;
  --popover-foreground: #f3f5f7;

  --primary: #00d9d9;
  --primary-foreground: #01151b;

  --secondary: #19262f;
  --secondary-foreground: #f3f5f7;

  --accent: #f36a8a;
  --accent-foreground: #f6f9fb;

  --destructive: #f14d4c;

  --border: #eaf7ff1f;
  --input: #eaf7ff24;
  --subtitle-foreground: #75797a;

  --radius: 0.875rem;
}

/* ================================
   System Dark Mode fallback
   ================================ */

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    color-scheme: dark;
  }
}